.video-js .vjs-big-play-button {
  display: none !important;
}
.video-js .vjs-control-bar {
  display: flex !important;  
}

.widget-videoviewer {
  width: 100%;
  height: 100%;
}

.widget-videoviewer-video {
  width: 100%;
}